body {
  background-color: #F3F3F3;
}

.header {
  display: grid;
  margin-top: 20px;
  text-align: center;
}

.header_title {
  font-style: normal;
  font-weight: 300;
  font-size: 20%;
  font-size: 35px;
  text-align: center;
  width: 100%;
}

.horiz_line {
  background: #43433F;
  height: 2px;
}

.horiz_line_mob {
  background: #43433F;
  height: 3.5px;
}

.header_name {
  position: relative;
  white-space: nowrap;
}

.name {
  display: inline-block;
  overflow: hidden;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
}

.name_mob {
  display: inline-block;
  overflow: hidden;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
}

.register {
  display: inline-block;
  place-items: center;
  float: right;
  position: absolute;
  top: 40%;
  padding-right: 20px;
  right: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #1835DA;
}


@media screen and (min-width: 1000px) {
    #registerr a.a_img {
         display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    #registerr a.a_p {
         display: none !important;
    }
}

.main {
  display: grid;
  margin-top: 70px;
  margin-left: 15%;
  margin-right: 15%;
}

.main_mob {
  display: grid;
  margin-top: 70px;
  margin-left: 5%;
  margin-right: 5%;
}

.topic_main {
  float: left;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
}

.topic_main_mob {
  float: left;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
}

.vetical_table {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.content_table {
  margin-bottom: 43px;
  background: #F3F3F3;
  border: 1px solid #B5B5B1;
  box-sizing: border-box;
}

.content_table_mob {
  margin-bottom: 43px;
  background: #F3F3F3;
  border: 2px solid #B5B5B1;
  box-sizing: border-box;
}

.data {
  margin: 20px;
}

.subject {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;

  color: #1835DA;
}

.subject_mob {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;

  color: #1835DA;
}

.name_olympiad {
  margin-top: 10px;
  font-weight: 650;
  font-size: 20px;
}

.name_olympiad_mob {
  font-weight: 650;
  font-size: 50px;
}

.date {
  font-style: normal;
  font-weight: 650;
  font-size: 15px;

  color: #D84947;
}

.date_mob {
  font-style: normal;
  font-weight: 550;
  font-size: 30px;

  color: #D84947;
}

.rank {
  font-style: normal;
  font-weight: normal;
  font-size: 650;

  color: #1835DA;
}

.rank_mob {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  font-weight: 450;
  color: #1835DA;
}

.font_big {
  font-size: 35px;
}

.description {
  padding-top: 35px;
}

.description_title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.description_title_mob {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
}

.small_horiz_line {
  margin-top: 0;
  background: #43433F;
  height: 2px;
  width: 5%;
}

.small_horiz_line_mob {
  margin-top: 0;
  background: #43433F;
  height: 3px;
  width: 10%;
}

.description_text {
  font-style: normal;
  font-weight: 300;
  padding-top: 15px;
  font-size: 15px;
}

.description_text_mob {
  font-style: normal;
  font-weight: 300;
  padding-top: 15px;
  font-size: 30px;
}

.vertical_align {
  display: inline-block;
  padding-top: 15px;
}

.vertical_align2 {
  display: inline-table;
  padding-top: 15px;
}

.item_align {
  display: inline-table;
  width: 100% !important;
  padding-bottom: 20px;
}

.item_align_mob {
  display: inline-table;
  width: 100% !important;
  padding-bottom: 50px;
}


.data_img {
  display: inline-table;
  padding-right: 10px;
}

.data_p {
  display: inline-table;
}

.bookshelf {
  width: 86px;
  height: 94px;
}

.bookshelf_mob {
  width: 146px;
  height: 154px;
}

.target {
  width: 78px;
  height: 78px;
}

.target_mob {
  width: 146px;
  height: 146px;
}

.deadline {
  width: 75px;
  height: 75px;
}

.deadline_mob {
  width: 136px;
  height: 136px;
}

.location {
  width: 67px;
  height: 87px;
}

.location_mob {
  width: 126px;
  height: 146px;
}

.green_but {
  background: #6DC2B6;
  border-radius: 5px;
  border-style: none;
  width: 168px;
}

.green_but_mob {
  background: #6DC2B6;
  border-radius: 5px;
  border-style: none;
  width: 450px;
  height: 100px;
}

.green_but_text {
  color: #F3F3F3;
  font-size: 35px;
  font-weight: 600;
}

.no_wrap {
  text-decoration: none;
}

a.no_wrap {
  color: #000000;
}

a.no_wrap:link {
  color: #000000;
}

a.no_wrap:hover {
  color: #000000;
}

.usr {
  padding-top: 20px;
  display: inline-block;
  width: 45%;
  font-size: 100%;
}

.eml {
  padding-top: 20px;
  padding-left: 10px;
  display: inline-block;
  width: 50%;
  font-size: 100%;
}

.usr_eml_plc {
  font-style: normal;
  font-weight: 600;
  font-size: 70%;
  color: #1835DA;
}

.usr_eml_data {
  overflow: inherit;
  font-style: normal;
  font-weight: 800;
  font-size: 100%;
}

.names {
  display: inline-table;
  width: 45%;
}

.other_data {
  display: inline-table;
  padding-left: 10px;
  width: 50%;
}

.field {
  padding-bottom: 20px;
  line-height: 0;
}

.field_box {
  !important;
  margin-top: 0;
  padding-left: 10px;
  outline: none;
  font: 30%;
  width: 100%;
  height: 37px;
  background: #F3F3F3;
  border: 1px solid #B5B5B1;
  box-sizing: border-box;
  border-radius: 5px;
}

.field_plc {
  padding: 0;
  !important;
  font-weight: 600;
  font-size: 70%;

  color: #43433F;
}

.changing_profile {
  float: right;
  width: 50%;
  height: 37px;
  border-style: none;

  background: #6DC2B6;
  border-radius: 5px;

}

.changing_profile_p {
  color: #FFF;
  font-weight: 500;
}

.rgstr_wrap {
  text-decoration: none;
  color: #1835DA;
}

a.rgstr_wrap:link {
  color: #1835DA;
}

a.rgstr_wrap:hover {
  text-decoration: underline;
  color: #1835DA;
}

.p_register_success {
  line-height: 10%;
  text-align: left;
  color: #F3F3F3;
  font-weight: 600;
  padding-left: 10px;
}

.line_register_success {
  background: #6DC2B6;
  border-radius: 5px;
  border-style: none;
  width: 100%;
  height: calc(35px);
}

select {
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
}

.form_filter {
  padding-top: 20px;
}

.form_filter_obj {
  display: inline-table;
  width: 140px;
  border: 1px solid #6DC2B6;
  box-sizing: border-box;
  margin-right: 20px !important;
  margin-bottom: 10px;
}

.form_filter_obj_mob {
  display: inline-table;
  width: 140px;
  height: 50px;
  border: 2px solid #6DC2B6;
  box-sizing: border-box;
  margin-right: 20px !important;
  margin-bottom: 10px;
}

.sub_filter {
  width: 140px !important;
  background: #F3F3F3;
  padding-left: 35px;
  font-size: 25px;
  text-align: -webkit-center;
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  text-decoration: none;
}

select {
  width: 140px !important;
  background: #F3F3F3;
  padding-left: 35px;
  text-align: -webkit-center;
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  text-decoration: none;
}

select .opt_mob {
  width: 140px !important;
  padding-left: 25%;
  font-size: 30px;
  text-align: -webkit-center;
}

select .opt {
  width: 140px !important;
  padding-left: 25%;
  font-size: 15px;
  text-align: -webkit-center;
}

.green_but_filter_mob {
  background: #6DC2B6;
  color: #F3F3F3;
  font-size: 25px;
  font-weight: 500;
  box-sizing: border-box;
  border-style: none;
  width: 140px;
  height: 55px;
}

.green_but_filter {
  background: #6DC2B6;
  color: #F3F3F3;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  border-style: none;
  width: 140px;
}

#box {
  overflow: hidden;
  width: 30%;
  background: #F3F3F3;
  border: 5px solid #6DC2B6;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

.is_registered_true {
  padding-top: 10px;
  padding-bottom: 0;
  background: #6DC2B6;
  border-radius: 5px;
}

.is_registered_true_p {
  font-weight: 600;
  padding-left: 10px;
  color: #F3F3F3;
}
