<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Регистрация</title>
    <style type="text/css">
      .container_l {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
      }
    </style>
  </head>
  <body>
    <div class="container_l">
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="alert alert-danger" role="alert">
            Что-то пошло не так. <br> Проверьте корректность введенных данных.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
